<div class="container">
  <div class="group"">
    <table align="center">
      <tbody>
        <caption>畝No.1 <a class="main_ridge" href="">仮1</a></caption>
        <tr>
          <th></th> <th>種蒔き</th> <th>植え付け</th> <th>収穫</th> <th>採種</th>
        </th>
        <tr>
          <th>目安時期</th> <td>3月</td> <td>4月</td> <td>5月</td> <td>6月</td> 
        </tr>
        <tr>
          <th>実行時期</th> <td>7月</td> <td>8月</td> <td>9月</td> <td>10月</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="group"">
    <table align="center">
      <tbody>
        <caption>畝No.2 <a class="main_ridge" href="">仮1</a></caption>
        <tr>
          <th></th> <th>種蒔き</th> <th>植え付け</th> <th>収穫</th> <th>採種</th>
        </th>
        <tr>
          <th>目安時期</th> <td>3月</td> <td>4月</td> <td>5月</td> <td>6月</td> 
        </tr>
        <tr>
          <th>実行時期</th> <td>7月</td> <td>8月</td> <td>9月</td> <td>10月</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="group"">
    <table align="center">
      <tbody>
        <caption>畝No.3 <a class="main_ridge" href="">仮1</a></caption>
        <tr>
          <th></th> <th>種蒔き</th> <th>植え付け</th> <th>収穫</th> <th>採種</th>
        </th>
        <tr>
          <th>目安時期</th> <td>3月</td> <td>4月</td> <td>5月</td> <td>6月</td> 
        </tr>
        <tr>
          <th>実行時期</th> <td>7月</td> <td>8月</td> <td>9月</td> <td>10月</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="group"">
    <table align="center">
      <tbody>
        <caption>畝No.4 <a class="main_ridge" href="">仮1</a></caption>
        <tr>
          <th></th> <th>種蒔き</th> <th>植え付け</th> <th>収穫</th> <th>採種</th>
        </th>
        <tr>
          <th>目安時期</th> <td>3月</td> <td>4月</td> <td>5月</td> <td>6月</td> 
        </tr>
        <tr>
          <th>実行時期</th> <td>7月</td> <td>8月</td> <td>9月</td> <td>10月</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>