<div class="side-bar">
  <div class="side-bar-menu">
    <div class="user-box">
      <div class="username">
        <a class="user-link" href="#">ゲストユーザー</a>
      </div>
    </div>
    <div class="calender">
      <a class="" href="#">カレンダー</a>
    </div>
    <ul class="ridges">
      <a class="ridgeinfo" href="#">畝一覧</a>
      <li class="ridge">
        <a class="ridge1" href="#">①</a>
      </li>
      <li class="ridge">
        <a class="ridge2" href="#">②</a>
      </li>
      <li class="ridge">
        <a class="ridge3" href="#">③</a>
      </li>
      <li class="ridge">
        <a class="ridge4" href="#">④</a>
      </li>
    </ul>
  </div>
</div>

