<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="event">
    <%= render "main_events" %>
  </div>
</div>
<%= link_to(new_event_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>入力する</span>
  <%= image_tag '' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>